@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

* {
    margin: 0;
    --main-theme-gradient-top-color: #FFFFFF;
    --main-theme-gradient-bottom-color: #00D1FF;
    --auth-form-backgound-color: #C7F5FF;
    --auth-form-font: 'Gilroy Bold', sans-serif;
}
.header {
    background-color: #2c3e50;
    padding: 1%;
}
h1 {
    text-align: center;
    padding: 3%;
}
.footer {
    display: flex;
    margin-top: 78vh;
}

.fixed-element {
    position: fixed;
    width: 100%;
}